.main-container{
    background-color:blanchedalmond;
    font-family: "Roboto";
    color:black;
    font-size:55px;
    padding:0px;
    background-size:cover;
    text-align:center;
    margin-bottom:20px;

}

.header{
    font-family: "Roboto";
    color:rgb(48, 36, 22);
    font-size:21px;
    padding-left:10px;

}

.sub-header{
    font-family: "Roboto";
    color:rgb(48, 36, 22);
    font-size:21px;
    padding-left:10px;

}

.password{
    font-family: "Roboto";
    color:rgb(48, 36, 22);
    font-size:21px;
    padding-left:10px;

}